.sub {
  background-color: rgb(209, 8, 8);
  color: white;
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  transition: opacity 0.3s;
  vertical-align: top;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
}

.join {
  background-color: white;
  color: blue;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
  border-width: 1px;
  margin: 5px;
  cursor: pointer;
  padding-top: 9px;
  padding-bottom: 9px;
  border-style: solid;
  border-color: rgb(2, 2, 175);
  transition: background-color 1s, color 1s;
  vertical-align: top;
}
.tweet {
  background-color: rgb(66, 66, 236);
  color: white;
  border-radius: 17.5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin: 5px;
  transition: box-shadow 0.15s;
  vertical-align: top;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.tweet:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.20)
}

.sub:hover {
  opacity: 0.7;
}
.sub:active {
  opacity: 0.4;
}
.join:hover {
  background-color: blue;
  color: white;
}

.join:active {
  opacity: 0.7;
}